<h1> ShiftBank </h1>
<h2> Sign-up! </h2>
<form class ="create-update-form" action = "/Accounts" method = 'POST'>

	<div class = 'form-group'>
		<input type="text" class="form-control" placeholder="Username (public)"  name = 'username'>
		<input type='text' class='form-control' placeholder='Password (private)' name = 'password'>
		<input type='text' class='form-control' placeholder='Email (private)'  name = 'email'>
		<button type="submit" class="btn btn-info"> Sign-up </button>

	</div>

</form>
<a href='/users'><button class="btn btn-info"> View users </button></a>
<a href='/profiles'><button class="btn btn-info"> View profiles </button></a>
