<h2> Make a Profile. </h2>
<form class ="create-update-form" action = "/profiles" method = 'POST'>

	<div class = 'form-group'>
		<input type="text" class="form-control" placeholder="Bio" id = 'user' name = 'bio'>
		<input type='text' class='form-control' placeholder='Work' id = 'user' name = 'work'>
		<input type='text' class='form-control' placeholder='Hobbies' id = 'user' name = 'hobbies'>
		<input type='text' class='form-control' placeholder='Religious_Beliefs' id = 'user' name = 'religiousbeliefs'>
		<input type='text' class='form-control' placeholder='Languages' id = 'user' name = 'languages'>

		<button type="submit" class="btn btn-info" id = 'add-button'> Create Profile </button>

		</div>


</form>
