<h2> Sign-up! </h2>
<form class ="create-update-form" action = "api/users" method = 'POST'>

	<div class = 'form-group'>
		<label for = 'burger'> User: </label>
		<input type="text" class="form-control" placeholder="Username. (public)" id = 'user' name = 'username'>
		<input type='text' class='form-control' placeholder='Password (private).' id = 'user' name = 'password'>
		<input type='text' class='form-control' placeholder='Email (private.' id = 'user' name = 'email'>
		<input type='text' class='form-control' placeholder='Looking for... (public).' id = 'user' name = 'lookingfor'>

		<button type="submit" class="btn btn-info" id = 'add-button'> Sign-up </button>

		</div>


</form>
